/********************************************************************/
/***************************Setting colors***************************/
/********************************************************************/
/**********************************************************************/
/*setting*/
/**********************************************************************/
/****************************setting fonts***************************/
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
/****************************Setting page****************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  margin-block: 0;
  outline: none;
  font-family: "Rubik", sans-serif;
}

body {
  text-align: left;
  background-color: hsl(228deg, 33%, 97%);
  font-size: 16px;
  font-weight: 400;
  color: hsl(211deg, 10%, 45%);
}

/****************************setting text*****************************/
.profile_id {
  color: hsl(212deg, 24%, 26%);
  font-weight: 500;
}

.comment_number,
.text_reply,
.text_edit {
  color: hsl(238deg, 40%, 52%);
  font-weight: 500;
}

.text_delete {
  color: hsl(358deg, 79%, 66%);
  font-weight: 500;
}

span {
  color: hsl(238deg, 40%, 52%);
  font-weight: 500;
}

.you {
  font-size: 13px;
  font-weight: 500;
  color: hsl(0deg, 0%, 100%);
}

/***************************Setting mixin***************************/
/***************************button***************************/
button {
  border: none;
  background-color: hsl(238deg, 40%, 52%);
  width: 104px;
  height: 48px;
  border-radius: 8px;
  color: hsl(0deg, 0%, 100%);
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s ease;
}
button:hover {
  background-color: hsl(239deg, 57%, 85%);
}

/***************************Text link***************************/
a,
a:visited {
  color: blue;
  text-decoration: none;
}

/**********************************************************************/
/*Main*/
/**********************************************************************/
main {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  width: 730px;
  margin: 50px auto 0 auto;
  /********************Media********************/
  /*********************************************/
  /********************Comment answer container********************/
}
@media screen and (max-width: 770px) {
  main {
    width: 343px;
  }
}
main .comment_answer_container {
  width: 100%;
  /********************reply container // intercat with JS********************/
  /******************** answer container // intercat with JS********************/
  /*****************************************************************************/
}
main .comment_answer_container .comment_wrapper {
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 24px;
  /********************Media********************/
  /*********************************************/
}
@media screen and (max-width: 770px) {
  main .comment_answer_container .comment_wrapper {
    padding: 15px;
  }
}
main .comment_answer_container .comment_wrapper .comment {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
  /********************Media********************/
  /*********************************************/
  /********************Comment footer (for change mobile style********************/
  /************************************************************************/
}
@media screen and (max-width: 770px) {
  main .comment_answer_container .comment_wrapper .comment {
    flex-direction: column;
    gap: 16px;
  }
}
main .comment_answer_container .comment_wrapper .comment .counter_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: space-evenly;
  width: 40px;
  height: 100px;
  background-color: hsl(228deg, 33%, 97%);
  border-radius: 10px;
  /********************Media********************/
  /*********************************************/
}
@media screen and (max-width: 770px) {
  main .comment_answer_container .comment_wrapper .comment .counter_wrapper {
    display: none;
  }
}
main .comment_answer_container .comment_wrapper .comment .counter_wrapper .comment_plus,
main .comment_answer_container .comment_wrapper .comment .counter_wrapper .comment_minus {
  cursor: pointer;
}
main .comment_answer_container .comment_wrapper .comment .counter_wrapper .comment_plus:hover path,
main .comment_answer_container .comment_wrapper .comment .counter_wrapper .comment_minus:hover path {
  fill: hsl(238deg, 40%, 52%);
}
main .comment_answer_container .comment_wrapper .comment .comment_body {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}
main .comment_answer_container .comment_wrapper .comment .comment_body .comment_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
main .comment_answer_container .comment_wrapper .comment .comment_body .comment_header .comment_profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}
main .comment_answer_container .comment_wrapper .comment .comment_body .comment_header .comment_profile img {
  width: 32px;
  height: 32px;
  border-radius: 100%;
}
main .comment_answer_container .comment_wrapper .comment .comment_body .comment_header .comment_profile .you {
  width: 36px;
  height: 19px;
  background-color: hsl(238deg, 40%, 52%);
  text-align: center;
}
main .comment_answer_container .comment_wrapper .comment .comment_body .comment_header .modification_wrapper {
  display: flex;
  flex-direction: row;
  gap: 24px;
}
main .comment_answer_container .comment_wrapper .comment .comment_body .comment_header .modification_wrapper .comment_delete {
  display: flex;
  flex-direction: row;
  gap: 8px;
  cursor: pointer;
  /********************Media********************/
  /*********************************************/
}
main .comment_answer_container .comment_wrapper .comment .comment_body .comment_header .modification_wrapper .comment_delete:hover .text_delete {
  color: hsl(357deg, 100%, 86%);
}
main .comment_answer_container .comment_wrapper .comment .comment_body .comment_header .modification_wrapper .comment_delete:hover .delete path {
  fill: hsl(357deg, 100%, 86%);
}
@media screen and (max-width: 770px) {
  main .comment_answer_container .comment_wrapper .comment .comment_body .comment_header .modification_wrapper .comment_delete {
    display: none;
  }
}
main .comment_answer_container .comment_wrapper .comment .comment_body .comment_header .modification_wrapper .comment_edit {
  display: flex;
  flex-direction: row;
  gap: 8px;
  cursor: pointer;
  /********************Media********************/
  /*********************************************/
}
main .comment_answer_container .comment_wrapper .comment .comment_body .comment_header .modification_wrapper .comment_edit:hover .text_edit {
  color: hsl(239deg, 57%, 85%);
}
main .comment_answer_container .comment_wrapper .comment .comment_body .comment_header .modification_wrapper .comment_edit:hover .edit path {
  fill: hsl(239deg, 57%, 85%);
}
@media screen and (max-width: 770px) {
  main .comment_answer_container .comment_wrapper .comment .comment_body .comment_header .modification_wrapper .comment_edit {
    display: none;
  }
}
main .comment_answer_container .comment_wrapper .comment .comment_body .comment_header .comment_reply {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  /********************Media********************/
  /*********************************************/
}
main .comment_answer_container .comment_wrapper .comment .comment_body .comment_header .comment_reply:hover .text_reply {
  color: hsl(239deg, 57%, 85%);
}
main .comment_answer_container .comment_wrapper .comment .comment_body .comment_header .comment_reply:hover .reply path {
  fill: hsl(239deg, 57%, 85%);
}
@media screen and (max-width: 770px) {
  main .comment_answer_container .comment_wrapper .comment .comment_body .comment_header .comment_reply {
    display: none;
  }
}
main .comment_answer_container .comment_wrapper .comment .comment_footer {
  display: none;
  /********************Media********************/
  /*********************************************/
}
@media screen and (max-width: 770px) {
  main .comment_answer_container .comment_wrapper .comment .comment_footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
}
main .comment_answer_container .comment_wrapper .comment .comment_footer .counter_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
  width: 100px;
  height: 40px;
  border-radius: 15px;
}
main .comment_answer_container .comment_wrapper .comment .comment_footer .comment_reply {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}
main .comment_answer_container .comment_wrapper .comment .comment_footer .comment_reply:hover .text_reply {
  color: hsl(239deg, 57%, 85%);
}
main .comment_answer_container .comment_wrapper .comment .comment_footer .comment_reply:hover .reply path {
  fill: hsl(239deg, 57%, 85%);
}
main .comment_answer_container .comment_wrapper .comment .comment_footer .modification_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}
main .comment_answer_container .comment_wrapper .comment .comment_footer .modification_wrapper .comment_delete {
  display: flex;
  flex-direction: row;
  gap: 8px;
  cursor: pointer;
}
main .comment_answer_container .comment_wrapper .comment .comment_footer .modification_wrapper .comment_delete:hover .text_delete {
  color: hsl(357deg, 100%, 86%);
}
main .comment_answer_container .comment_wrapper .comment .comment_footer .modification_wrapper .comment_delete:hover .delete path {
  fill: hsl(357deg, 100%, 86%);
}
main .comment_answer_container .comment_wrapper .comment .comment_footer .modification_wrapper .comment_edit {
  display: flex;
  flex-direction: row;
  gap: 8px;
  cursor: pointer;
}
main .comment_answer_container .comment_wrapper .comment .comment_footer .modification_wrapper .comment_edit:hover .text_edit {
  color: hsl(239deg, 57%, 85%);
}
main .comment_answer_container .comment_wrapper .comment .comment_footer .modification_wrapper .comment_edit:hover .edit path {
  fill: hsl(239deg, 57%, 85%);
}
main .comment_answer_container .reply_container {
  display: none;
}
main .comment_answer_container .answer_container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 730px;
  height: 100%;
  /********************Media********************/
  /*********************************************/
}
@media screen and (max-width: 770px) {
  main .comment_answer_container .answer_container {
    justify-content: flex-start;
    width: 343px;
  }
}
main .comment_answer_container .answer_container .border {
  border-left: 2px solid hsl(223deg, 19%, 93%);
  margin-right: 43px;
  margin-bottom: 20px;
  /********************Media********************/
  /*********************************************/
}
@media screen and (max-width: 770px) {
  main .comment_answer_container .answer_container .border {
    margin-right: 13px;
  }
}
main .comment_answer_container .answer_container .answer_wrapper {
  width: 88%;
  /********************Media********************/
  /*********************************************/
}
@media screen and (max-width: 770px) {
  main .comment_answer_container .answer_container .answer_wrapper {
    width: 100%;
  }
}
main .send_container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 15px;
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 24px;
  /********************Media********************/
  /*******************************************/
}
@media screen and (max-width: 770px) {
  main .send_container {
    display: grid;
    grid-template-columns: 150px 150px;
    grid-template-rows: 96px 48px;
    justify-content: space-between;
    align-items: center;
    row-gap: 11px;
    -moz-column-gap: 57px;
         column-gap: 57px;
    grid-template-areas: "txt txt" "img btn";
    padding: 16px;
  }
  main .send_container img {
    grid-area: img;
  }
  main .send_container textarea {
    grid-area: txt;
  }
  main .send_container button {
    grid-area: btn;
  }
}
main .send_container img {
  width: 32px;
  height: 32px;
  border-radius: 100%;
}
main .send_container textarea {
  width: 506px;
  height: 96px;
  border-radius: 8px;
  border: 1px solid hsl(223deg, 19%, 93%);
  color: hsl(211deg, 10%, 45%);
  padding: 12px 24px;
  resize: none;
  cursor: pointer;
  /********************Media********************/
  /*********************************************/
}
@media screen and (max-width: 770px) {
  main .send_container textarea {
    width: 311px;
  }
}
main .send_container textarea:hover {
  border-color: hsl(238deg, 40%, 52%);
}

/*****align footer and set size and color*****/
footer {
  text-align: center;
  font-size: 0.8rem;
  margin: 20px auto;
  color: rgb(171, 171, 171);
}
footer a,
footer a:visited {
  color: rgb(141, 37, 37);
  text-decoration: underline;
}/*# sourceMappingURL=index.css.map */