/******************** answer container // intercat with JS********************/

/*****************************************************************************/
.answer_container {
  @include row;
  justify-content: flex-end;
  width: 730px;
  height: 100%;

  /********************Media********************/
  @media screen and (max-width: 770px) {
    justify-content: flex-start;
    width: 343px;
  }
  /*********************************************/

  .border {
    border-left: 2px solid $Lightgray;
    margin-right: 43px;
    margin-bottom: 20px;

    /********************Media********************/
    @media screen and (max-width: 770px) {
      margin-right: 13px;
    }
    /*********************************************/
  }
  .answer_wrapper {
    width: 88%;

    /********************Media********************/
    @media screen and (max-width: 770px) {
      width: 100%;
    }
    /*********************************************/
  }
}
