.action-container {
  display: block;
  @media screen and (max-width: $breakUpMobile) {
    margin-top: 9px;
  }
}

.main-action {
  position: absolute;
  top: 26px;
  right: 24px;

  @media screen and (max-width: $breakUpMobile) {
    top: 0;
    right: 0;
  }
}

.reply-wrapper {
  @include commonActionStyles;
  @include hoverStyle($lightGrayishBlue);

  .icon-reply {
    font-size: 15px;
  }
  path,
  .reply {
    fill: $moderateBlue;
    @include transition;
  }
}

.user-action {
  @include direction-row;
  position: absolute;
  gap: 22px;
  top: 26px;
  right: 24px;
  @media screen and (max-width: $breakUpMobile) {
    top: 0px;
    right: 0px;
    gap: 16px;
  }

  .delete-wrapper {
    @include commonActionStyles;
    @include hoverStyle($paleRed);

    path,
    .delete {
      fill: $softRed;
      @include transition;
    }

    .icon-delete {
      font-size: 15px;
    }
  }
}
