.like-container {
  @include center-column-space-between;
  width: 40px;
  height: 100px;
  background-color: $veryLightGrey;
  border-radius: 10px;
  padding: 12px 0 16px 0;

  @media screen and (max-width: $breakUpMobile) {
    display: flex;
    flex-direction: row;
    width: 100px;
    height: 40px;
    padding: 0 12px 0 16px;
  }

  .like-wrapper {
    cursor: pointer;

    .like-icone {
      path {
        fill: #c5c6ef;
        @include transition;
      }
    }

    &:hover .like-icone path {
      fill: $moderateBlue;
    }
  }
}
