/***************************Setting colors***************************/
$white: #ffffff;
$veryLightGrey: #f5f6fa;
$darkGrey: #979797;
$lightGrey: #e9ebf0;
$black: #000000;
//text
$darkBlue: #334253;
$grayishBlue: #67727e;
$softRed: #ed6368;
$paleRed: #ffb8bb;
$moderateBlue: #5357b6;
$lightGrayishBlue: #c5c6ef;
