/***************************************************************/
/*setting*/
/***************************************************************/
/*************************Setting page**************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  margin-block: 0;
  outline: none;
}

body {
  @include center-row;
  max-width: 1650px;
  margin-top: 80px;
  background-color: $veryLightGrey;
}

main {
  width: 100%;
  height: 100%;
}

/*************Text link & img fit***************/
a,
a:visited {
  text-decoration: none;
  color: inherit;
}

/*************************breakup**************************/
$breakUpMobile: 375px;
